<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Appdynamics tools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
            
    <script>
    $( document ).ready(function() {
    	$( "#button_connect" ).click(function() {
    		test_connection();
    		
			var str = JSON.stringify($('#building-form').serializeObject());
			$.ajax({
				type: "POST",
				contentType : "application/json",      	  
				url: "testConnection",
				data: str,
				dataType : 'json',
				timeout : 100000
			})
			.done( function(data) {
				if(data.result=='ok')
					display_connection_success();
				else
					display_connection_failure(data.error);
				})
			.fail( function(data) {
				alert("Internal error");
			});
    	});
    	
    	$('#building-form').submit(function() {
    	    $('#spinning').show();
    	    return true;
    	});
    });

 	function test_connection() {
 		$("#spinning_connection").show();
		$("#connection_success").hide();
		$("#connection_failure").hide();
		$("#connection_failure_messsage").hide();
    }
 	function display_connection_success() {
 		$("#spinning_connection").hide();
		$("#connection_success").show();
		$("#connection_failure").hide();
		$("#connection_failure_messsage").hide();
    }

    function display_connection_failure(err) {
 		$("#spinning_connection").hide();
		$("#connection_success").hide();
		$("#connection_failure").show();
		$("#connection_failure_messsage").text(err).show();
    }

    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    </script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                <a class="navbar-brand" href="#">Static header</a>
            <div class="navbar-header">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hero-unit">
        <h1>Appdynamics Deployment Status</h1>
        <p>Welcome to the Appdynamics Deployment Status Application!</p>
    </div>
    <!-- /* Handling the flash message */-->
	<th:block th:if="${message != null}">
		<div th:replace="fragments/message :: message (type=${#strings.toLowerCase(message.type)}, message=${message.message})"></div>
	</th:block>
    <div>
    	<form id="building-form" action="#" th:action="@{/buildGraph}" th:object="${controllerForm}" method="post">
    		<div class="panel panel-default">
				<div class="panel-heading"><span th:text="#{controller.title}"></span></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 form-group">
							<label><span th:text="#{controller.url}"></span><span class="glyphicon glyphicon-asterisk"></span></label> 
							<input type="text" th:field="*{url}" th:errorclass="fieldError" class="form-control" />
							<p th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Error</p>
						</div>
						<div class="col-md-2 form-group">
							<label><span th:text="#{controller.account}"></span></label> 
							<input type="text" th:field="*{account}" th:errorclass="fieldError" class="form-control" />
							<p th:if="${#fields.hasErrors('account')}" th:errors="*{account}">Error</p>
						</div>
						<div class="col-md-2 form-group">
							<label><span th:text="#{controller.username}"></span><span class="glyphicon glyphicon-asterisk"></span></label> 
							<input type="text" th:field="*{username}" th:errorclass="fieldError" class="form-control" />
							<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</p>
						</div>
						<div class="col-md-2 form-group">
							<label><span th:text="#{controller.password}"></span><span class="glyphicon glyphicon-asterisk"></span></label> 
							<input type="password" th:field="*{password}" th:errorclass="fieldError" class="form-control" />
							<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</p>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="button" id="button_connect" class="btn btn-default" th:text="#{controller.action.connection}">Extra small button</button>
					<img id="spinning_connection" src="" th:src="@{/images/spinning.gif}" width="32px" height="32px" style="display:none;"/>
					<img id="connection_success" src="" th:src="@{/images/success.png}" width="32px" height="32px" style="display:none;"/>
					<img id="connection_failure" src="" th:src="@{/images/failure.png}" width="32px" height="32px" style="display:none;"/>
					<span id="connection_failure_message" style="display:none;"></span>
				</div>
			</div>

    		<div class="panel panel-default">
				<div class="panel-heading" th:text="#{building.title}"></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-2 form-group">
							<label><span th:text="#{building.timerange.minsBeforeNow}"></span></label> 
							<input type="text" th:field="*{timerangeMinsBeforeNow}" th:errorclass="fieldError" class="form-control" />
							<p th:text="'Minutes before now'"></p>
							<p th:if="${#fields.hasErrors('timerangeMinsBeforeNow')}" th:errors="*{timerangeMinsBeforeNow}">Error</p>
						</div>
						<div class="col-md-3 form-group">
							<label><span th:text="#{building.applicationFilter}"></span></label> 
							<input type="text" th:field="*{applicationFilter}" th:errorclass="fieldError" class="form-control" />
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<input class="btn btn-primary" type="submit" th:value="#{building.action.build}"/>
					<img id="spinning" src="" th:src="@{/images/spinning.gif}" width="32px" height="32px" style="display:none;"/>
				</div>
			</div>

    	</form>
    	
        <h2>Reporting</h2>
        <p><span th:text="|Initialized : ${@applicationsHolder.initialized}|"></span> | Applications <span class="badge" th:text="${@applicationsHolder.nbApplications}"></span>
        </p>

	   	<form action="#" th:action="@{/reports}" method="post">
	       <div class="panel panel-default" th:if="${@applicationsHolder.initialized}">
				<div class="panel-heading"><span th:text="#{controller.title}"></span></div>
					<div class="panel-body">
						<div class="row">
				    		<label><span th:text="#{report.name}"></span></label> 
							<select name="report">
								<option th:each="rn : ${reports}" th:value="${rn.name()}" th:text="${rn.label}">Report name</option>
							</select>
							<select name="format">
								<option value="xlsx">Excel</option>
								<option value="pdf">PDF</option>
							</select>
							<input class="btn btn-success btn-sm" type="submit" th:value="#{entity.action.report}"/>
						</div>
					</div>
				</div>
    	</form>
       
    </div>
    <footer>
        <div th:replace="fragments/footer :: footer">&copy; 2016 Richard HALLIER</div>
    </footer>
</div>
</body>
</html>