<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
           
    <script type="text/javascript">
    $( document ).ready(function() {
    	$( "#button_connect" ).click(function() {
    		test_connection();
    		
			var str = JSON.stringify($('#building-form').serializeObject());
			$.ajax({
				type: "POST",
				contentType : "application/json",      	  
				url: "saveConnection",
				data: str,
				dataType : 'json',
				timeout : 100000
			})
			.done( function(data) {
				if(data.result=='ok')
					display_connection_success();
				else
					display_connection_failure(data.error);
				})
			.fail( function(data) {
				alert("Internal error");
			});
    	});
    	
    	$('#building-form').submit(function() {
    	    $('#spinning').show();
    	    return true;
    	});
    });

 	function test_connection() {
 		$("#spinning_connection").show();
		$("#connection_success").hide();
		$("#connection_failure").hide();
		$("#connection_failure_messsage").hide();
    }
 	function display_connection_success() {
 		$("#spinning_connection").hide();
		$("#connection_success").show();
		$("#connection_failure").hide();
		$("#connection_failure_messsage").hide();
    }

    function display_connection_failure(err) {
 		$("#spinning_connection").hide();
		$("#connection_success").hide();
		$("#connection_failure").show();
		$("#connection_failure_messsage").text(err).show();
    }

    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    </script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                <a class="navbar-brand" href="#">Static header</a>
            <div class="navbar-header">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hero-unit">
        <p th:text="#{controller.conf}">Configuring Controller connection</p>
    </div>
    <!-- /* Handling the flash message */-->
	<th:block th:if="${message != null}">
		<div th:replace="fragments/message :: message (type=${#strings.toLowerCase(message.type)}, message=${message.message})"></div>
	</th:block>
    <div>
    		<div class="panel panel-default">
				<div class="panel-heading"><span th:text="#{controller.title}"></span></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 form-group">
							<label><span th:text="#{controller.url}"></span><span class="glyphicon glyphicon-asterisk"></span></label> 
							<input type="text" th:field="*{url}" th:errorclass="fieldError" class="form-control" />
							<p th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Error</p>
						</div>
						<div class="col-md-2 form-group">
							<label><span th:text="#{controller.account}"></span></label> 
							<input type="text" th:field="*{account}" th:errorclass="fieldError" class="form-control" />
							<p th:if="${#fields.hasErrors('account')}" th:errors="*{account}">Error</p>
						</div>
						<div class="col-md-2 form-group">
							<label><span th:text="#{controller.username}"></span><span class="glyphicon glyphicon-asterisk"></span></label> 
							<input type="text" th:field="*{username}" th:errorclass="fieldError" class="form-control" />
							<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</p>
						</div>
						<div class="col-md-2 form-group">
							<label><span th:text="#{controller.password}"></span><span class="glyphicon glyphicon-asterisk"></span></label> 
							<input type="password" th:field="*{password}" th:errorclass="fieldError" class="form-control" />
							<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</p>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="button" id="button_connect" class="btn btn-default" th:text="#{controller.action.connection}">Extra small button</button>
					<img id="spinning_connection" src="" th:src="@{/images/spinning.gif}" width="32px" height="32px" style="display:none;"/>
					<img id="connection_success" src="" th:src="@{/images/success.png}" width="32px" height="32px" style="display:none;"/>
					<img id="connection_failure" src="" th:src="@{/images/failure.png}" width="32px" height="32px" style="display:none;"/>
					<span id="connection_failure_message" style="display:none;"></span>
				</div>
			</div>


  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#deployementStatus" th:text="#{deploymentStatus.title}">Deployment</a></li>
    <li><a data-toggle="tab" href="#hotspot" th:text="#{hotspot.title}">Hotspot</a></li>
  </ul>

  <div class="tab-content">
    <div id="deploymentStatus" class="tab-pane fade in active">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="hotspot" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

       
    </div>
    <footer>
        <div th:replace="fragments/footer :: footer">&copy; 2016 Richard HALLIER</div>
    </footer>
</div>
</body>
</html>